
/* column text styling */
.custom-header .column-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #000;
}
.custom-header .column-text {
  font-size: 1.2rem;
  color: #333;
}
.collapse > .p-5 {
  padding: 1.5em!important;
}