main {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1; 
    padding: 3em 3em;
}

.site-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f1f1f1;
  }


/* Used ChatGPT as a reference for styling the body */
body::before {
  left: calc(50% - 600px);
  width: calc(50% - 650px);
}

body::after {
  right: calc(50% - 600px);
  width: calc(50% - 650px);
}


body::before,
body::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #4eb6b4;
  z-index: -1;
}

body::before {
  left: 0;
}

body::after {
  right: 0;
}



header {
    background-color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    background-color: #4eb6b4; 
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
}

nav.pagination {
    display: flex;
    justify-content: center;
  }


p.sidebar {
    background-color: #ffe6e6;
    border-left: .4em solid #ffcccc;
    padding: 1em;
    margin: 1em;
  }

p.strong {
    font-weight: bold;
}

aside.sidebar {
    background-color: #ffe6e6;
    border-left: .4em solid #ffcccc;
    padding: 1em;
    margin: 1em;
  }

/* custom header styles */
.custom-header .column1 {
  background-color: #ffe4e1;
}
.custom-header .column2 {
  background-color: #c2d6d6;
}
.custom-header .column3 {
  background-color: #f2d7d5;
}

/* column text styling */
.custom-header .column-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #000;
}
.custom-header .column-text {
  font-size: 1.2rem;
  color: #333;
}