main {
  max-width: 95%;
  width: 100%;
  margin: 2em auto;
}

.site-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f1f1f1;
}

body::before {
  left: calc(50% - 600px);
  width: calc(50% - 650px);
}

body::after {
  right: calc(50% - 600px);
  width: calc(50% - 650px);
}

body::before,
body::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #629bbc;
  z-index: -1;
}

body::before {
  left: 0;
}

body::after {
  right: 0;
}

header {
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin: 0 auto;
  display: flex;
  background-color: #001b2e;
  padding: 1em 3em;
}

footer > p {
  margin-bottom: 0;
}

nav.pagination {
  display: flex;
  justify-content: center;
}

nav.navbar {
  background-color: #001b2e;
  position: sticky;
}

a:focus {
  outline: none !important;
  border: 1px solid #adb6c4;
  box-shadow: 0 0 5px #719ece;
}

.navbar-dark a.navbar-brand,
.navbar-dark a.navbar-brand:focus,
.navbar-dark a.navbar-brand:active {
  color: #ffefd3;
  font-family: 'Staatliches', cursive;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.navbar-dark .navbar-nav a.nav-link:hover,
.navbar-dark .navbar-nav a.nav-link:focus {
  background-color: #283c5c;
  color: white;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav a.nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

#brand {
  color: #ffefd3;
  font-size: 3.5em;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  font-family: 'Staatliches', cursive;
  text-align: center;
}

div.card-body {
  padding: 0;
}

#header {
  background-color: #ffab71;
}

.mask {
  height: 400px;
  background-color: rgba(0, 0, 0, 0.6);
}

.mt-5 {
  margin: 3rem auto 3rem;
}

h1:not(#brand),
h2,
h3,
h4,
h5,
h6,
p,
li,
a.nav-link,
figcaption,
label {
  font-family: 'Nunito', sans-serif !important;
}

.bg-image {
  background-image: url('https://gcdnb.pbrd.co/images/NbKaEWzeOPYC.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

div.padding {
  padding: 2em;
}

.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}

.faq {
  padding: 1em;
}

.collapse > .p-5 {
  padding: 1.5em !important;
}

.card-appeal {
  padding: 2em;
}

#appeal {
  margin-bottom: 1.5em;
}

#arrowed-cta {
  background-color: #adb6c4;
}

ul {
  list-style: none;
}

#arrowed-cta-links {
  margin-top: 2em;
  text-align: center;
  font-size: 1.1em;
}

#arrowed-cta-links > li:not(:last-child) {
  padding-bottom: 2em;
}

#arrowed-cta-links > li > a > svg {
  height: 1.1em;
  width: 1.1em;
}

.icon {
  display: inline-flex;
  align-self: center;
}

.icon svg,
.icon img {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.icon.baseline svg,
.icon img {
  top: 0.125em;
  position: relative;
}

#arrowed-cta-links > li > a {
  color: #001b2e;
  text-decoration: underline;
}

.accordion .card-body > a,
.accordion .card-body > ol > li > a,
.accordion .card-body > p > a {
  color: #629bbc;
  text-decoration: underline;
}

#arrowed-cta-links > li > a:hover,
#arrowed-cta-links > li > a:focus {
  color: #001b2e;
  text-decoration: none;
}

.accordion .card-body > a:hover,
.accordion .card-body > a:focus,
.accordion .card-body > ol > li > a:hover,
.accordion .card-body > ol > li > a:focus .accordion .card-body > p > a:hover,
.accordion .card-body > p > a:focus {
  color: #629bbc;
  text-decoration: none;
}

.send {
  color: #fff;
  background-color: #001b2e;
  border-color: #001b2e;
}

.send:hover {
  color: #001b2e;
  background-color: #adb6c4;
  border-color: #001b2e;
}

p.sidebar {
  background-color: #ffe6e6;
  border-left: .4em solid #ffcccc;
  padding: 1em;
  margin: 1em;
}

p.strong {
  font-weight: bold;
}
